<p style="color: green"><%= notice %></p>

<h1>Tasks of the Day</h1>

<div id="tasks">
  <% @tasks.each do |task| %>
    <%= render task %>
  <% end %>
</div>

<%= link_to "Back to categories", categories_path %>